html, body{margin:0; height:100%;}
#app{width:100%; height:100%; display:block;}

h1 {
    color:red; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}